.page-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15vh;
	padding: 0;
}

.site-header, .site-footer {
	border-top: 0;
	border-bottom: 0;
}

.site-footer {
	margin-bottom: 10vh;
}

.post-content {
	text-align: justify;
}

.post-title {
	font-weight: 400;
	font-size: 32px;
}

.hidden {
	display: none;
}
