.page-content {
	margin-top: 2.5rem;
	padding: 0;
	overflow-wrap: break-word;
}

.site-header, .site-footer {
	border-top: 0;
	border-bottom: 0;
}

.site-footer {
	margin-top: 4rem;
}

.post-content {
	text-align: justify;
}

.post-title {
	font-weight: 400;
	font-size: 32px;
}

.hidden {
	display: none;
}
